@use "@/style/sass/variables" as *;

.root
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 10px;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;

	& > .header
	{
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		padding: 0 20px;

		.division 
		{
			height: 20px;
			width: 1px;
			background-color: #0003;
			margin: 0 20px;
		}

		.title
		{
			font-size: 18px;
		}

		.btn 
		{
			background-color: $primary;
			border: none;
			outline: none;
			border-radius: 2px;
			padding: 2px 10px 0;
			height: 25px;
			color: #fff;
			display: flex;
			flex-direction: row;
			align-items: center;
			user-select: none;
			cursor: pointer;
		}
	}

	& > .body
	{
		.agendaRoot
		{
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			border-radius: 3px;
			overflow: hidden;
			box-shadow: 0 0 0 1px #0001, 0 3px 10px 0 #00000005;

			.header
			{
				height: auto;
				padding: 20px;
				display: flex;
				flex-direction: row;
				gap: 20px;
				align-items: center;

				.icon 
				{
					height: 20px;
					width: 20px;
					background-image: url("/calendar.svg");
					background-size: 90%;
					background-repeat: no-repeat;
					background-position: center;
					transform: translate(5px, 0);
					opacity: 0.7;
				}

				.title
				{
					color: #333;
					font-weight: 400;
					margin: 0 auto 0 0;
				}

				.controlBtns 
				{
					display: flex;
					flex-direction: row;
					gap: 7px;

					.btn
					{
						height: 25px;
						width: 25px;
						box-shadow: 0 0 0 1px #0003;
						border-radius: 2px;
						position: relative;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						cursor: pointer;

						&:hover
						{
							background-color: rgba($primary, 10%);
						}

						&::after
						{
							content: "";
							position: relative;
							width: 7px;
							height: 7px;
							box-shadow: 1px 1px 0 0 #0007;
							cursor: pointer;
						}

						&[data-style="1"]
						{
							padding: 0 0 0 6px;

							&::after
							{
								transform: rotate(-225deg);
							}
						}

						&[data-style="2"]
						{
							padding: 0 6px 0 0;

							&::after
							{
								transform: rotate(-45deg);
							}
						}
					}
				}

				.selectList
				{
					display: flex;
					flex-direction: row;
					height: 25px;
					box-shadow: 0 0 0 1px #0003;
					border-radius: 2px;

					.item 
					{
						width: auto;
						display: flex;
						flex-direction: row;
						align-items: center;
						height: 100%;
						padding: 0 10px;
						cursor: pointer;

						&[data-selected="true"]
						{
							background-color: rgba($primary, 20%);
							
							&:hover
							{
								background-color: rgba($primary, 20%);
							}

							.text
							{
								color: $primary-shad;
							}
						}
						
						&:not(:last-child)
						{
							box-shadow: 1px 0 0 0 #0003;
						}

						&:hover
						{
							background-color: rgba($primary, 10%);
						}

						.text
						{
							font-size: 14px;
							user-select: none;
							color: #0007;
							font-weight: 600;
						}
					}
				}
			}

			.body
			{
				display: flex;
				flex-direction: row;
				box-shadow: 0 -1px 0 0 #0001;
				overflow: hidden;
				
				.col 
				{
					display: flex;
					flex-direction: column;
					position: relative;
					width: 100%;
					background-color: #00000005;

					&[data-hoje="true"] 
					{
						.header
						{

							.textDay,
							.textDate 
							{
								color: $primary-shad;
							}
						}
					}
					
					&:not(:last-child)
					{
						box-shadow: inset -1px 0 0 0 #0001;
					}

					&:has(.boxDia) 
					{
						box-shadow: 0 0 0 0;
					}
					
					&[data-indicator]
					{
						width: auto;
						z-index: 3;

						.header
						{
							z-index: 3;
						}
					}

					&:not([data-indicator]) 
					{
						.header 
						{
							&:not(:has(.textDate))
							{
								height: 35px;
							}
						}
					}

					.header 
					{
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						gap: 0;
						padding: 7px 0 7px;
						height: 50px;
						background-color: #eee;
						box-shadow: inset 0 -1px 0 0 #0001;

						.textDay,
						.textDate 
						{
							font-size: 14px;
							color: #777;
							font-weight: 600;

							&.textDate
							{
								font-size: 13px;
								margin: -2px 0 0;
							}
						}
					}

					&[data-indicator] > .content
					{
						background-color: #eee;
						box-shadow: 1px 0 0 0 #0001, 0 0 15px 0 #00000005;

						.boxHora 
						{
							box-shadow: 0 0 0 0 #0000;
							background-color: #0000 !important;
						}
					}

					&:last-child 
					{
						.boxHora 
						{
							box-shadow: 0 0 0 0 !important;
						}

						.boxDia 
						{
							box-shadow: inset 0 -1px 0 0 #0001;

							&:last-child
							{
								box-shadow: 0 0 0 0 !important;
							}
						}
					}

					.boxDia 
					{
						height: 80px;
						background-color: #eee;
						width: 100%;
						box-shadow: inset -1px -1px 0 0 #0001;
						
						&:last-child
						{
							box-shadow: inset -1px 0 0 0 #0001;
						}

						&[data-difmes]
						{
							filter: brightness(0.9);
							background-color: #00000001;

							.textDia
							{
								color: #bbb;
							}
						}

						.textDia
						{
							font-size: 13px;
							font-weight: 600;
							color: #888;
							margin: 6px;
						}
					}

					.boxAgendamento
					{
						position: absolute;
						z-index: 100;
						left: 50%;
						top: 0;
						transform: translate(-50%, 50px);
						width: 90%;
						padding: 0 5px 0 10px;
						background-color: #f7f7f7;
						overflow: hidden;
						border-radius: 2px;
						border-bottom: 4px solid #fff;
						border-right: 4px solid #fff;

						&[data-dif="2"]
						{
							width: calc(90% - 10px);
							transform: translate(calc(-50% - 5px), 50px);
						}

						&[data-dif="1"]
						{
							width: 70%;
							transform: translate(calc(-30% - 5px), 50px);
							z-index: 105;
						}

						&[data-style="2"]
						{
							.title 
							{
								position: relative;
								top: 0;
								transform: translate(0, -20px);

								& > span:last-child 
								{
									display: none;
								}
							}

							.subtitle
							{
								position: relative;
								width: 50%;
								padding: 1px 0 0 3px;
								display: inline-flex;

								&[data-style="1"] .text
								{
									font-size: 13px;
									max-width: 100%;
								}
							}
						}

						.title 
						{
							font-size: 11px;
							font-weight: 700;
							color: #333;
						}

						.subtitle 
						{
							display: inline-block;
							width: 100%;
							max-width: 100%;
							position: relative;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							font-size: 14px;
							color: #555;
							height: auto;

							&[data-style="2"]
							{
								font-size: 11px !important;
								font-weight: 700;
								color: #555;

								.text
								{
									max-width: 100%;
								}
							}
							
							.text
							{
								display: inline-block;
								width: 100%;
								max-width: 70%;
								overflow: hidden;
								position: relative;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
						}
					}

					.boxHora
					{
						height: 60px;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						z-index: 1;
						box-shadow: 0 0 0 0;
						
						&:nth-child(even)
						{
							z-index: 2;
							background-color: #eee;
							box-shadow: inset -1px 0 0 0 #0001;
						}

						&:has(.text)
						{
							padding: 0 10px;

							&:not(:last-child)
							{
								box-shadow: 0 1px 0 0 #0001;
							}
						}

						.text
						{
							font-size: 13px;
							color: #888;
							font-weight: 600;
						}
						
						.sub 
						{
							height: 100%;
							width: 100%;
						}

						.sub
						{
							box-shadow: 0 1px 0 0 #0001;
						}
						
						&:last-child
						{
							.sub:last-child
							{
								box-shadow: 0 1px 0 0 #0000;
							}
						}
					}
				}
			}
		}
	}
}